@font-face {
  font-family: 'roboto_regular';
  src: url('../fonts/roboto_regular.eot');
  src: url('../fonts/roboto_regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto_regular.woff') format('woff'),
  url('../fonts/roboto_regular.ttf') format('truetype'),
  url('../fonts/roboto_regular.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_bold';
  src: url('../fonts/roboto_bold.eot');
  src: url('../fonts/roboto_bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto_bold.woff') format('woff'),
  url('../fonts/roboto_bold.ttf') format('truetype'),
  url('../fonts/roboto_bold.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_light';
  src: url('../fonts/roboto_light.eot');
  src: url('../fonts/roboto_light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto_light.woff') format('woff'),
  url('../fonts/roboto_light.ttf') format('truetype'),
  url('../fonts/roboto_light.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}