.clearfix() {
  overflow: hidden;
  zoom:1;
    &:before{
    content:"";
    display:table;
  }
  &:after{
    content:"";
    display:table;
    clear:both; }
}

.display(@_textdecor: none,
 @_liststyle: none, @_pos:left, 
 @_width: 100px){
    text-decoration: @_textdecor;
    list-style: @_liststyle;
    float: @_pos;
    width: @_width;
  }

@colorwhite: #ffffff;
@colorgrey: #777777;
@colorblack: #000000;
@colorgreen: #819554;

.font-basic(@_font: arial_bold, @_size: 20px, @_weight: normal, @_color: @colorwhite, @_upper: none, @_align: none, @_line: 1, @_leterspen: normal){
  font-family: @_font;
  font-size: @_size;
  font-weight: @_weight;
  color: @_color;
  text-transform: @_upper;
  text-align: @_align;
  line-height: @_line;
  letter-spacing: @_leterspen;
}

.animation-basic(@_time: .3s){
  -webkit-transition: all @_time ease;
  -moz-transition: all @_time ease;
  -ms-transition: all @_time ease;
  -o-transition: all @_time ease;
  transition: all @_time ease;
}

.border-basic(@_size: 5px, @_border: none, @_bg: none, @_animate: none, @_time: .3s){
  -webkit-border-radius: @_size;
  border-radius: @_size;
  border: @_border;
  background: @_bg;
  & when (@_animate = true) {.animation-basic(@_time);}
}
.element-style(@_pos: left, @_width: 320px){
  float: @_pos;
  width: @_width;
}

.line-title{
  content: "";
  display: block;
  position: absolute;
  width: 190px;
  height: 2px;
  background-color: #fff;
}
