*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

@import "mixing";
@import "fonts";

body{
  background: url(../img/Index.png) center no-repeat;
  width: 1920px;
  margin: 0 auto;
}
.wrapper{
  width: 1140px;
  text-align: center;
  margin: 0 auto;
}
.header{
  .clearfix();
  border: 2px solid @colorblack;
  box-shadow: 10px solid @colorgrey;
  .menu{
    .clearfix();
    background: #211103;
    .wrapper{
      ul{
        float: left;
        list-style-type: none;
        padding: 13px 0px;
        li{
          .font-basic();
          padding: 10px 20px;
          border-right: 2px solid @colorwhite;
          float: left;
          &:last-child{
            border-right: none;
          };
          a{
            .font-basic();
            text-decoration: none;
            &:hover{
              color: #f5d602;
            };
          }
        }
      }
      .enter{
        float: right;
        padding: 20px 0px;
        margin-right: 48px;
        a{
          text-decoration: none;
          .font-basic();
        }
      }
    }
  }
  .bootom{
    background: @colorwhite;
    .wrapper{
      .clearfix();
      .logo{
        margin: 15px auto auto 20px;
        float: left;
        p{
          .font-basic(@_font: 'arial', @_size: 10px, @_color: @colorblack);
        }
      }
      .phone{
        margin-left: 20px;
        float: left;
        .phone_img{
          float: left;
          margin: 12px;
        }
        ul{
          .font-basic(@_font: 'arial', @_size: 12px, @_color: @colorblack, @_align: left);
          list-style-type: none;
          float: left;
          li{
            padding: 3px 0px;
          }
        }
        
      }
      .city{
        float: left;
        margin: 7px 20px auto 20px;
        border-left: 2px solid @colorblack; 
        border-right: 2px solid @colorblack;
        ul{
          list-style-type: none;
          text-align: left;
          li{
            a{
            .font-basic(@_size: 18px, @_color: @colorblack);
            text-decoration: none;
            padding: 10px 20px;
            }
            select{
                  margin-left: 8px;

            }
        }
        }        
      }
      .search{
        margin: 7px auto auto 15px;
        float: left;
        .poshuk{
          width: 330px;
          padding: 7px 10px;
        }
        select{
          .font-basic(@_size: 16px);
          padding: 8px 10px;
          margin: 4px -10px;
         color: #fff;
         .border-basic(@_size: 5px, @_border: none, @_bg: #000);
          cursor: pointer;
        }
      }
      .koshik{
        img{
          float: left;
          margin-top: 12px;
          margin-left: 64px;
        }
      }
    }
  }
}
.main_osnov{
  .clearfix();
  width: 1170px;
  margin: 0 auto;
  background: #fff;

  .wrapper{

  .main{
    padding: 15px;
    width: 1140px;
    background: #fff;
    .clearfix();
    .main_height{
      .clearfix();
      height: 600px;
      background: url(../img/main_background.png) center no-repeat;
        img{
          float: left;
          margin-top: 79px;
          margin-left: 55px;
        }
      .tovar{
        width: 31%;
        float: right;
        margin-right: 58px;
        margin-top: 79px;
          img{
            margin: 9px;
          }
          a{
            float: left;
            margin-top: 201px;
           background: #4aaf01;
           padding: 10px;
           border-radius: 6px;
           margin-left: 127px;
           .font-basic(@_font: 'arial_bold', @_size: 16px, @_color: @colorwhite);
           text-decoration: none;
          }
      }
    }
    .menu_up{
   float: left;
      width: 100%;
      margin-bottom: 20px;
      li{
        float: left;
        padding: 10px;
        padding-left: 66px;
        list-style-type: none;
        a{
          text-decoration: none;
          .font-basic(@_font: 'arial_bold', @_size: 20px, @_color: @colorblack);
          &:hover{
                color: #f5d602;
              };
        }
      }
  }
    .main_center_left{
      float: left;
      ul{
        float: left;
        border: 1px solid;
        webkit-border-radius: 20px 0 20px 0;
        border-radius: 20px 0 20px 0;
        li{
          list-style-type: none;
          text-align: left;
          border: 1px solid;
          padding: 6px;
          &:last-child{
            border-radius: 0px 0 20px 0;
          } ;
          &:first-child{
            border-radius: 20px 0 0px 0;
            background: #211103;
            a{
            .font-basic(@_font: 'arial_regular', @_size: 16px, @_color: @colorwhite,   @_line: 1)}
          };
          &:hover{
                background: #fcf3b3;
              };
          a{
          text-decoration: none;
          .font-basic(@_font: 'arial_regular', @_size: 16px, @_color: @colorblack,   @_line: 1)
        }
        img{
          float: right;
        }
        }
      }
    }
    .main_center{
      float: left;
      margin-left: 44px;
      ul{
        width: 486px;
        height: 434px;
      li{
        float: left;
        list-style-type: none;
        border: 1px solid #dadada;
        border-radius: 5px;
        padding: 2px;
        margin: 5px;
        width: 150px;
        height: 100px;
        img{
          margin-top: 10px;
        }
        &:last-child{
            a{
              float:left;
              margin-top: 38px;
            }
            img{
              margin-top: 42px;
            }
          } ;
        &:hover{
                background: #fdf7cc;
        };
        a{
          text-decoration: none;
          .font-basic(@_font: 'arial_regular', @_size: 15.66px, @_color: @colorblack,   @_line: 1)
        }
      }
    }
  }
    .main_right{
      background: #f5d602;
      float: right;
      width: 255px;
      height: 270px;
      .clearfix();
      p{
        margin: 10px auto;
        text-align: center;
        .font-basic(@_font: 'arial_bold', @_size: 16px, @_color: @colorwhite);
      }
      img{
        float: left;
        width: 69%;
        margin-left: 47px;
       
      }
      span{
        float: left;
        width: 100%;
        .font-basic(@_font: 'arial_bold', @_size: 30px, @_color: @colorwhite);
        margin-bottom: 10px;
      }
      a{
        float: left;
         background: #4aaf01;
           padding: 4px;
           border-radius: 6px;
           margin: 7px 0px 0px 50px;
           text-decoration: none;
           .font-basic(@_font: 'arial_bold', @_size: 15px, @_color: @colorwhite);

        img{
          float: right;
          width: 20%;
          margin-top: -22px;
        }
      }
    }
    .pidsimok{
      float: right;
      text-align: left;
      margin-top: 31px;
      p{
        .font-basic(@_font: 'arial_bold', @_size: 15px, @_color: @colorblack);
      }
      li{
        list-style-type: one;
        .font-basic(@_font: 'arial_regular', @_size: 15px, @_color: @colorblack,   @_line: 1);
      }
      a{
        .font-basic(@_font: 'arial_regular', @_size: 15px, @_color: @colorblack,   @_line: 1);
          

      }
    }
  }
  .main_down{
    padding: 15px;
    width: 1140px;
    background: #fff;
    overflow: hidden;
    .popular{
      background: #dedede;
      overflow: hidden;
      margin-top: 10px;
      h5{
        margin-top: 10px;
        text-align: left;
        margin: 10px 0px 0px 44px;
        .font-basic(@_font: 'arial_regular', @_size: 30px, @_color: @colorblack,   @_line: 1);
      }
    ul{
      background: #fff;
      float: left;
      margin: 20px;
      padding: 20px;
      li{
        float: left;
        margin: 11px 0px 23px 0px;
        list-style-type: none;
        input{
          width: 101px;
          background: #f5d602;
          border-radius: 5px;
          padding: 5px;
          .font-basic(@_font: 'arial_bold', @_size: 20px, @_color: @colorblack);
        }
        a{
          float: left;
          width: 100%;
          margin: 15px;
          margin: 10px 0px 23px 0px;
          text-decoration: none;
          .font-basic(@_font: 'arial_regular', @_size: 20px, @_color: @colorblack,   @_line: 1);
          &:hover{
                color: #f5d602;
              };
        }
        p{
          margin: 15px;
          margin: 56px 0px 45px 0px;
          .font-basic(@_font: 'arial_regular', @_size: 20px, @_color: @colorblack,   @_line: 1);
          
        }
        button{

          background: #353535;
          margin: 5px;
          padding: 5px;
          border-radius: 5px;

        }
        .zir{
          
          margin-top: 17px;
        }
      }
    }
  }
  }
  }
}
.footer{
  .clearfix();
  background: #211103;
  .wrapper{
    .top_menu{
    .clearfix();
    margin-top: 40px;
    ul{
      float: left;
      margin: 0px 170px 10px 0px;
      li{
        .font-basic(@_font: 'arial', @_size: 18px);
        text-align: left;
        list-style-type: none;
        padding: 10px 0px;
        &:first-child{
          margin-bottom: 25px;
          padding: 0px;
          .font-basic(@_size: 20px);
          };
        a{
          .font-basic(@_font: 'arial', @_size: 18px);
          text-decoration: none;
         }
      }
    }
    .contact{
      text-align: left; 
      float: right;
      h4{
        .font-basic(@_font: 'arial', @_size: 20px);
        margin-bottom: 25px;
      }
      p{
        .font-basic(@_font: 'arial', @_size: 16px, @_line: 1.5);
      }
      .menu_phone{
        .font-basic(@_font: 'arial', @_size: 16px);
        margin: 0 auto;        
        li{
            float: left;
            list-style-type: none;
            padding: 10px 10px;
            border-right: 1px solid white;
        &:first-child{
          padding-left: 0px;
          color: #45b2ff;
        };    
        &:last-child {
          border-right: none;
          
          };
        }
      }
      hr{
        margin: 20px 0px;
      }
     }
    }
  .down_menu{
      float: left;
      margin: 20px auto;
      p{
        float: left;  
        margin-top: 35px;
        .font-basic(@_font: 'arial', @_size: 16px);
        a{
          text-decoration: none;
          color: @colorwhite;
          text-transform: uppercase;
        }  
      }
      .oplata{
        float: left;
        margin-left: 100px;
        img{
          padding: 10px;
        }
        
      }
      .social{
        float: left;
        margin: 10px 0px 0px 100px;
        img{
          padding: 3px;
        }
      }
    }
  }
}
@media only screen and (max-width: 992px)
{
  body {
                width: 100%;
                .wrapper {
                width: 90%;
                text-align: center;
                margin: 0px auto;
              }
              .header .menu .wrapper ul li{
                padding: 9px 13px;
              }
              .header .menu .wrapper .enter {
               float: right;
               margin: 0px auto;
            }

            .header .bootom .wrapper .search {
                margin: 7px auto auto -8px;
                float: left;
              }
              .header .bootom .wrapper .logo {
                margin: 15px auto auto 5px;
                float: left;
            }
            .header .bootom .wrapper .phone {
                margin-left: 0px;}
              .header .bootom .wrapper .search .poshuk {
                width: 203px;
                padding: 7px 10px;
              }
                .header .bootom .wrapper .koshik img{
                      margin-left: 21px;
                    }
                 .main_osnov{
                  width: 100%;
                  .wrapper{
                  .main{
                    width: 100%;
                    .main_height{
                      height: 431px;
                     img{
                      width: 43%;
                    }
                    .tovar a{
                      margin-left: 85px;
                      width: 81%;
                      margin-top: 69px;
                    }
                  }
                  .menu_up li {
                    padding-left: 25px;
                  }
                  .main_center_left{
                    width: 23%;
                  }
                  .main_center {
                    margin-left: 5px;
                    ul{
                    width: 412px;
                    li{
                      width: 127px;
                    }
                  }
                }
                .main_right{
                  width: 231px;
                  img{
                    margin-left: 39px;
                  }
                  a{
                    margin: 7px 0px 0px 45px;
                    img{
                      margin-top: -17px;
                    }
                  }
                }
                }
                .main_down{
                  width: 100%;
                
                .popular
                ul{
                  margin: 12px;
                  padding: 4px;
                li{
                  width: 25%;
                  form{
                    margin-left: 24px;
                  }
                }
                }
              }
                  }

                 }
                 .footer{
                  .wrapper{
                  .top_menu{
                    ul{
                      margin: 0px 72px 10px 0px;
                    }
                  }
                  .down_menu{
                    .oplata{
                      margin-left: 23px;
                      img{
                        padding: 5px;
                      }
                    }
                    .social{
                      margin: 10px 0px 0px 49px;
                      img{
                        padding: 2px;
                      }
                    }
                  }
                 }
                }
              }
} 
@media only screen and (max-width: 768px)
{
  body {
                width: 100%;
                .wrapper {
                width: 90%;
                text-align: center;
                margin: 0px auto;
              }
              .header .menu .wrapper ul li{
                padding: 9px 13px;
                a{
                  font-size: 15px;
                }
              }
              .header .menu .wrapper .enter {
               float: right;
               margin: 0px auto;
               a{
                font-size: 17px;
               }
            }

            .header .bootom .wrapper .search {
                margin: 7px auto auto -8px;
                float: left;
              }
              .header .bootom .wrapper .logo {
                margin: 15px auto auto 5px;
                float: left;
            }
            .header .bootom .wrapper .phone {
                margin-left: 0px;
                .phone_img{
                   margin: 17px 3px;
                img{
                  width: 49%;
                  }
                }
                ul{
                  font-size: 11px;
                }
              }
              .header .bootom .wrapper .city{
                margin: 7px 7px auto 9px;
              }
              .header .bootom .wrapper .search{
                margin: 10px auto;
                
                .poshuk {
                width: 95px;
                padding: 7px 10px;
              }
              select{
                font-size: 10px;
              }
            }
                .header .bootom .wrapper .koshik img{
                      margin-left: 21px;
                    }
                 .main_osnov{
                  width: 100%;
                  .wrapper{
                  .main{
                    width: 100%;
                    .main_height{
                      height: 431px;
                     img{
                      width: 40%;
                    }
                    .tovar a{
                      margin-left: 0px;
                      width: 108%;
                      margin-top: 91px;
                    }
                  }
                  .menu_up li {
                    padding-left: 13px;
                    a{
                      font-size: 16px;
                    }
                  }
                  .main_center_left{
                    width: 23%;
                  }
                  .main_center {
                    margin-left: 5px;
                    ul{
                   width: 280px;
                    li{
                      width: 127px;
                    }
                  }
                }
                .main_right{
                  width: 216px;
                  img{
                    margin-left: 39px;
                  }
                  a{
                    margin: 7px 0px 0px 45px;
                    img{
                      margin-top: -17px;
                    }
                  }
                }
                .pidsimok{
                  margin-right: -13px;
                }
                }
                .main_down{
                  width: 100%;
                
                .popular
                ul{
                  margin: 12px;
                  padding: 4px;
                li{
                  width: 48%;
                  form{
                    margin-left: 24px;
                  }
                }
                }
              }
                  }

                 }
                 .footer{
                  .wrapper{
                  .top_menu{
                    ul{
                      margin: 0px 17px 10px 0px;
                      a{
                        font-size: 15px;
                      }
                    }
                  }
                  .down_menu{
                    p{
                      font-size: 13px;
                    }
                    .oplata{
                      
                      margin-left: 23px;
                      width: 36%;
                      img{
                        padding: 5px;
                        width: 17%;
                      }
                    }
                    .social{
                     margin: 10px 0px 0px 8px;
                      float: right;
                      width: 38%;
                      img{
                        padding: 1px;
                        width: 12%;
                      }
                    }
                  }
                 }
                }
              }
}
@media only screen and (max-width: 480px)
{
  body {
                width: 100%;
                .wrapper {
                width: 90%;
                text-align: center;
                margin: 0px auto;
              }
               .header .menu .wrapper ul li {
              padding: 8px 2px  }
               .header .menu .wrapper ul li a {
              font-size: 10px;}
               .header .menu .wrapper .enter a {
              font-size: 15px;}
               .header .bootom .wrapper .search{
                margin: 10px auto;
                
                .poshuk {
                width: 195px;
                padding: 7px 10px;
              }
              select{
                font-size: 15px;
              }
            }
            .main_osnov{
                  width: 100%;
                  .wrapper{
                  .main{
                    width: 100%;
                    .main_height{
                      height: 341px;
                     img{
                      width: 37%;
                    }
                    .tovar{
                      width: 42%;
                      margin-right: 23px;
                      a{
                        margin-left: -36px;
                        width: 127%;
                        margin-top: 48px;
                      }
                    }
                  }
                  .menu_up              
                      li{
                        padding-left: 2px;
                        a{
                          font-size: 10px;
                        }
                      }
                    .main_center_left{
                    width: 38%;
                    float: left;
                  }
                  .main_center{
                    float: right;
                    ul{
                      width: 244px;
                      li{
                        width: 112px;
                        a{
                          font-size: 12.66px;
                        }
                      }
                    }
                  }
                }
              }
            }
            .footer{
                  .wrapper{
                  .top_menu{
                    ul{
                      margin: 0px 17px 10px 0px;
                      li{
                        font-size: 11px;
                        padding: 0px 0px;
                        &:first-child{
                          font-size: 15px;
                          margin-bottom: 15px;
                        }
                      a{
                        font-size: 8px;
                      }
                    }
                    }
                    .contact{
                      width: 53%;
                      h4{
                        font-size: 15px;
                        margin-bottom: 12px;
                      }
                      p{
                          font-size: 10px;
                      }
                      hr{
                        margin: 6px 0px;
                      }
                    }
                  }
                  .down_menu{
                    p{
                      font-size: 8px;
                      margin-top: 14px;
                    }
                    .oplata{
                      margin-left: 15px;
                    }
                  }
                }
              }
            }
}
@media only screen and (max-width: 320px)
{
  body {
                width: 100%;
                .wrapper {
                width: 90%;
                text-align: center;
                margin: 0px auto;
              }
              .header .menu .wrapper ul li {
              padding: 8px 2px  }
               .header .menu .wrapper ul li a {
              font-size: 12px;}
               .header .menu .wrapper .enter a {
              font-size: 21px;}
              .header .bootom .wrapper .city{
                width: 100%;
                margin: 0px auto;
                li{
                  width: 100%;
                   select{
                    width: 90%;
                   }
                }
              }
               .header .bootom .wrapper .search{
                margin: 10px auto;
                width: 77%;
                .poshuk {
                float: left;
                width: 100%;
                padding: 7px 10px;
              }
              select{
                font-size: 15px;
                width: 100%;
              }
            }
            .main_osnov{
                  width: 100%;
                  .wrapper{
                  .main{
                    width: 100%;
                    .main_height{
                      height: 228px;
                     img{
                      width: 42%;
                      margin: 34px 0px 0px 20px;
                    }
                    .tovar{
                      margin: 29px auto;
                      img{
                        margin: 4px;
                        width: 39%;
                      }
                      a{
                        margin-left: -125px;
                        width: 204%;
                        margin-top: 48px;
                      }
                    }
                  }
                  .menu_up              
                      li{
                        padding: 5px;
                        a{
                          font-size: 6px;
                        }
                      }
                  .main_center_left{
                    width: 95%;
                    float: left;
                  }
                  .main_right{
                    margin-right: 22px;
                  }
                }
                .main_down{
                  .popular{
                    ul{
                      li{
                        width: 100%;
                      }
                    }
                  }
                }

              }
            }
            .footer{
                  .wrapper{
                  .top_menu{
                    ul{
                      margin: 0px 17px 10px 0px;
                      li{
                        font-size: 11px;
                        padding: 0px 0px;
                        &:first-child{
                          font-size: 15px;
                          margin-bottom: 15px;
                        }
                      a{
                        font-size: 11px;
                      }
                    }
                    }
                    .contact{
                      width: 95%;
                     
                    }
                  }
                  .down_menu{
                    p{
                      font-size: 12px;
                      margin-top: 11px;
                    }
                    .oplata img{
                      width: 22%;
                    }
                    .social{
                      width: 96%;
                    }
                  }
                }
              }
            }
  }
